@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1024px) {
    :root {
        --margin-x-content: var(--small-x-margin);
    }
  }

@font-face {
    font-family: 'Overpass Mono';
    src: local('OverpassMono'), url('/fonts/OverpassMono/OverpassMono-Regular.ttf')
    format('truetype');
}

@font-face {
    font-family: 'AR One Sans Retina';
    src: local('AROneSansRetina'), url('/fonts/AROneSansRetina/AROneSansRetina-Regular.ttf')
    format('truetype');
}